 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.js" integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq" crossorigin="anonymous"></script>
<script>
function renderMaths(){
    var elements = document.getElementsByClassName("math");
    for (var i = 0; i < elements.length; i++){
        try {
            elements[i].innerHTML = katex.renderToString( elements[i].innerHTML, elements[i], {
                displayMode: false,
                strict:false
            });
        } catch(e) {
            console.error(e);
        }
    }
}

document.addEventListener("DOMContentLoaded", renderMaths );
</script>
