body, h1, h2, h3, h4, h5, h6, blockquote, pre, figure {
  margin: 0;
  padding: 0;
  font-weight:normal;
  color: #111;
}
body {
  margin: 0;
  padding: 0;
  border-top: 5px solid #BB0000;
  font-family: Fira Sans, sans-serif;
  font-size: 0.8em;
  background-color: #f1f1f1;
}
header, #wrapper, footer {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}
a, a:visited {
  color: #990000;
}


/* HEADER */
header > h1 {
  padding: 0.7em 1em 0.4em 1.8em;
  margin: 0 0 0 0.6em;
  font-family: URW Gothic;
  font-size: 1.2em;
  font-weight: normal;
  background: url("../img/icon/icon.svg") left center no-repeat;
  background-size: 1.2em 1.2em;
  
}
header a, header a:visited {
  color: #111;
  text-decoration: none;
}
header > div {
  width: 100%;
  height: 6em;
  border-top: 3px solid #616161;
  background: #fff url("../img/default-banner.png") no-repeat top left scroll;
  background-size: 1000px auto;
}


/* MAIN */
main {
  padding: 2em;
  width: 80%;
  margin-left: auto;
  background-color: white;
  text-align: justify;
}
main h2 {
  font-size: 1.2em;
  margin-bottom:1em;
}


/* ARTICLE LIST */
.post-list article {
  margin-bottom: 3em;
}
.post-list h3 a {
  font-family: URW Gothic;
  font-size: 1.2em;
  text-decoration: none;
}
.post-list h3 a:hover {
  text-decoration: underline;
}
.post-list span {
  color: #666666;
  font-family: Fira Sans, sans-serif;
  font-size: 0.85em;
  font-weight: bold;
}

/* ARTICLE */
article {
  font-family: serif;
}
article p, article div {
  margin-top: 0;
  margin-bottom: 1em;
}
article h1 {
  margin-bottom: 1em;
  font-family: Fira Sans, sans-serif;
}
article h2 {
  margin: 1.5em 0 1em 0;
  font-family: Fira Sans, sans-serif;
}
article h2::before {
  content: "# ";
  color: #999999;
}

/* CONTENT */
.float-left {  float: left; }
.float-right {  float: right; }
.width-half { width: 50%; }
.width-third { width: 33%; }
.width-40 { width: 40%; }

table {
  margin: 1em auto;
  text-align:center;
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
tbody {
  border-top: 2px solid black;
}
tbody tr:nth-child(odd) {
  background-color: #eedddd;
}
th, td {
  text-align:center;
  padding:0.5em 1em;
}
figure {
  margin: 1em;
  font-size: smaller;
  text-align: center;
}
figure>img{ width:100%;  }

/* BOXES */
.box {
	padding: 10px;
	margin-bottom: 1em;
	transition: all 0.3s;
	border-left: 5px solid #555555;
}
.box>:last-child { margin-bottom: 0; }

.box .title {
  font-weight: bold;
  text-transform: capitalize;
}
.box .reference {
  display: block;
  float: right;
  margin-left: -5em;
  color: #b0b0b0;
  font-family: monospace;
}

.theorem {
  border-left: 5px solid purple;
  background-color: #fff0ff; }
.proposition {
  border-left: 5px solid purple;
  background-color: #fff0ff; }
.example {
  border-left: 5px solid darkgreen;
  background-color: #e4ffe4; }
.definition {
  border-left: 5px solid #BB0000;
  background-color: #ffeeee; }
.note {
  border-left: 5px solid darkblue;
  background-color: #e2e2ff; }

.morebox > .moreboxslide {
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0; }

.moreboxtitle {
  font-style: italic;
  text-align: center;
  cursor: default; }
  .moreboxtitle::before {
    content: "▸ "; }

.morebox:hover > .moreboxslide { max-height: 500em; }
.morebox:hover .moreboxtitle::before { content: "▾ "; }


/* KATEX */
.math, .katex { font-size: 1em !important; }
div>.katex, div.math { font-size: 1.04em !important; }


/* FOOTER */

footer {
  height: 7em;
  padding: 1.5em;
  border-top: 3px solid #BB0000;
  background: #616161 url("../img/footer.png") no-repeat scroll center top;
  color: white;
}
footer h2 {
  font-size: 1em;
  color: white;
  font-weight: bold;
}
footer div {
  font-family: Fira Serif;
}
