<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{end}}</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    
    <link rel="icon" href="{{ "img/icon/icon32.png" | relURL }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ "img/icon/icon48.png" | relURL }}" sizes="48x48" type="image/png">
    <link rel="icon" href="{{ "img/icon/icon64.png" | relURL }}" sizes="64x64" type="image/png">
    <link rel="icon" href="{{ "img/icon/icon180.png" | relURL }}" sizes="180x180" type="image/png">
    <link rel="icon" href="{{ "img/icon/icon.svg" | relURL }}" sizes="any" type="image/svg+xml">
    
    {{ partial "math-rendering.html" }}
  </head>

  <body>
  
  <header>
  {{ block "header" . }}
  
  <h1><a href="/">{{ .Site.Title }}</a></h1>
  <div></div>
  
  {{ end }}
  </header>
  
  <div id="wrapper">
  <main>
  {{ block "main" . }}{{ end }}
  </main>
  </div>

  <footer>
  {{ block "footer" . }}
  <h2>{{ .Site.Title }}</h2>
  <div>
  Hier koennte ihre Beschreibung stehen.
  </div>
  {{ end }}
  </footer>
  
  </body>
</html>
